body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#number
{    
    width: 250px;
    font-size: 40px;
    color: green;
    margin-left: auto;
    margin-right: auto;
}

#duckpicture
{
    width: 250px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

#response
{
    width: 350px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}