html
head
    title= title
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
    script.
        // Load the Visualization API and the corechart package.
        //google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['treemap']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(JSON.parse('!{arr}'));

            tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

            tree.draw(data, {
                minColor: '#f00',
                midColor: '#ddd',
                maxColor: '#0d0',
                headerHeight: 15,
                fontColor: 'black',
                showScale: true,
                generateTooltip: showStaticTooltip
            });

            function showStaticTooltip(row, size, value) {
                return '<div style="background:#ffffff; padding:10px; border-style:solid">' + data.getValue(row,0) +
                        '</div>';
            }
        }
    body
        h1= title
        div(id="chart_div", style="width: 900px; height: 500px;")
        a(href="/") Go back