extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="login", action="/test-page", method="post")
      input(type="text", name="sample")
      input(type="submit", value="send")
      